@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Raleway", sans-serif;
  color: #333;
}

.container {
  max-width: 500px;
  margin: auto;
}

h1 {
  margin-top: 16px;
  text-align: center;
  font-weight: normal;
}

input {
  width: 100%;
  padding: 8px 16px;
  margin: 8px auto;
  border: 3px solid #bdbdbd;
  border-radius: 12px;
  outline: none;
  font-size: 2em;
  box-sizing: border-box;
}

.valid {
  border-color: #36cc36;
}
.invalid {
  border-color: orange;
}

input + p {
  text-align: center;
  font-weight: bold;
  font-size: 0.9em;
  color: orange;
  margin: 0 10px;
  opacity: 0;
  height: 0;
}
input.invalid + p {
  opacity: 1;
  height: auto;
}
